mumbai_weather_display.json
[
    {
        "id": "c8bd494e98dd33bb",
        "type": "tab",
        "label": "Mumbai Weather Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e53237411122c84e",
        "type": "inject",
        "z": "c8bd494e98dd33bb",
        "name": "Openweatherinject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "weather",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "a24653136726341f"
            ]
        ]
    },
    {
        "id": "a24653136726341f",
        "type": "http request",
        "z": "c8bd494e98dd33bb",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=mumbai,in&appid=3673bd07c0fb32e040ebc1aae7db804c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "fde2f396211e1aa6",
                "25eefd5166e94468"
            ]
        ]
    },
    {
        "id": "fde2f396211e1aa6",
        "type": "function",
        "z": "c8bd494e98dd33bb",
        "name": "Get wind speed data",
        "func": "msg.payload=msg.payload.wind.speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "9fd3b3526f0e0cff",
                "497d2a0955302b62",
                "766ff31e987c01a9"
            ]
        ]
    },
    {
        "id": "25eefd5166e94468",
        "type": "function",
        "z": "c8bd494e98dd33bb",
        "name": "Cloud data",
        "func": "msg.payload=msg.payload.clouds.all\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "47cdbc66507ae0d4",
                "6680ffe9ba8b8507",
                "33c7987bf8aee2d3"
            ]
        ]
    },
    {
        "id": "47cdbc66507ae0d4",
        "type": "debug",
        "z": "c8bd494e98dd33bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "6680ffe9ba8b8507",
        "type": "ui_chart",
        "z": "c8bd494e98dd33bb",
        "name": "Cloud data",
        "group": "c232a8b1ca186c6c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Cloud Cover (percentage vs time)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd3b3526f0e0cff",
        "type": "debug",
        "z": "c8bd494e98dd33bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "497d2a0955302b62",
        "type": "ui_chart",
        "z": "c8bd494e98dd33bb",
        "name": "Wind speed data",
        "group": "c232a8b1ca186c6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Wind Speed Data (metres per second vs time)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "33c7987bf8aee2d3",
        "type": "ui_gauge",
        "z": "c8bd494e98dd33bb",
        "name": "display current cloud data",
        "group": "c232a8b1ca186c6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Cloud Cover",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "766ff31e987c01a9",
        "type": "ui_gauge",
        "z": "c8bd494e98dd33bb",
        "name": "display current wind speed data",
        "group": "c232a8b1ca186c6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Wind Speed",
        "label": "Metres per Second",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "c232a8b1ca186c6c",
        "type": "ui_group",
        "name": "Weather data",
        "tab": "02cd15f27baaf24a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02cd15f27baaf24a",
        "type": "ui_tab",
        "name": "Mumbai Weather Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]